$black: #000;
$white : #ffffff;
$silver: #f6f6f6;
$dark-blue: #062138;
$blue: #0098d7;
$green: #67b06a;
$orange: #de883f;
$gray: #929faf;
$indigo: #1c5393;
$azure: #4a90e2;
$cyan: #22a3bf;
$red: #d6486b;

